
.logo{
	margin: -0.3cm auto auto auto;
	position: fixed;
	vertical-align: middle;
}

body {
	font: 100% tahoma, verdana, sans-serif;
}

.nav {
    line-height: 50px;
    margin: 3.4cm auto auto auto;
    position: fixed;
    background-color: #333;
    width:81%;
}

.nav a:hover:not(.active) {
    background-color: #111;
}

.active {
    	background-color: #E0D8E0;
	margin: auto auto auto 1cm;    
    	color: black;
	text-align: center;
    	padding: 12px 4px;
    	text-decoration: none;

}

.inactive {
	margin: auto auto auto 1cm;    
	display: inline;
    	color: white;
    	text-align: center;
    	padding: 14px 4px;
    	text-decoration: none;
    
}

.latest {
	
	text-align: Justify;
	box-shadow: 10px 10px 5px silver;
	height: 98%;
	text-align: Justify;
	box-shadow: 10px 10px 5px silver;
	width: 81%;
	height: auto;
}

#sidebar{    
    	position:fixed;
    	right:0;
     	width: 20%;
	top: 0cm;
	background: #E0D8E0;
	height:97.5%;
	overflow: auto;
	
}

#slideshow { 
	position: relative;
}

.sidebar-nav{
	margin: 2.7cm auto auto auto;
	background-color: #333;
	line-height: 47px;
	text-align: center;
	border-style: outset;
}

.sidebar-nav a{
	color: white;
	font-size: 80%;
	text-decoration: none;
	
}

.sidebar-nav a:hover:not(.active) {
    background-color: #111;
}



#slideshow > div { 
    	position: absolute; 
   }


.latest img {
    	width: 100%;
    	height: auto;
}

#prev_image,#next_image
{
   width:30px;
   height:30px;
}

.rlinks {
	border-style: outset;
    	background-color: #333;
	text-align: center;
}

.rlinks a{
	color: white;
	font-size: 80%;
	text-decoration: none;
}

.rlinks a:hover:not(.active) {
    background-color: #111;
}

.footer {
	position:fixed;
	width:100%;
	bottom:0;	
   	background:black;
   	color:white;
	font-size: 80%;
   	text-align: center;
	height:2.5%;
}


.footer a {
	color: white;
}